while True:
    print ()
    print("============== MENU ==============") 
    print ("1 - Entrar na cidade.") 
    print ("2 - Abrir inventário.") 
    print ("3 - Mostrar status dos personagens.")
    print ("4 - Sair.")
    print ("==================================")
    print ()
    print ("Escolha entre as opções acima enviando o número de cada uma das ações.")
    print ()
    action = int(input("Digite uma opção:")) 
    print ()
    
    if action == 1:
        print("Você entra na cidade...")
    elif action == 28:
        print ("De uma olhada no servidor do discord!Por que não enviar b@4841 aleatóriamente em qualquer um dos chats do servidor?")
        break
    elif action == 3:
        print ("=====================")
        print ("Escolha de personagem")
        print ("Qual personagem deseja inspecionar?")
        print ("1 - Victor")
        print ("2 - Jeffersons Klevs")
        print ("3 - ???")
        print ("=====================")
        print ()
        escolha = int(input("Digite uma opção:"))
        if escolha == 1:
            print ()
            print ("===STATUS===")
            print ("Vida - 1000")
            print ("Stamina - 300")
            print ("Dinheiro - ???")
            print ("=============")
            print ()
        elif escolha == 2:
            print ()
            print ("===STATUS===")
            print ("Nome - Jeff Klevs")
            print ("Vida - 126")
            print ("Stamina - 32")
            print ("Dinheiro - 0")
            print ("=============")
            print ()
        elif escolha == 3:
            print ()
            print ("B@4841:Me ajudem... Por favor... Eu não sei o que o Victor irá fazer comigo, ele vem agindo muito estranho ultimamente... Por-")
            print ("V: VOCÊ ESTÁ TENTANDO SE COM-")
            print ("ERRO: Voltando para o menu...")
            print ("Experimente enviar o número 28.")
    elif action == 2:
        print ("Nada para ver no inventário, apenas uma teia de aranha esperando para ser varrida")
    elif action == 4:
        print ("Até mais!")
        break
    else:
        print ("Ação inválida")
